{% extends 'base.html.twig' %}

{% block title %}Games
{% endblock %}

{% block body %}
	{% include 'home/nav.html.twig' %}
	{# <div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Holy guacamole!</strong>
			You should check in on some of those fields below.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x-lg"></i></button>
		</div> #}
	<div class="card text-white bg-warning mb-3 mt-5" style="max-width: 80rem; margin-left:15%; ">
		<div class="card-header">About Games</div>
		<div class="card-body">
			<h4 class="card-title">Online Games on games — Let's play</h4>
			<p class="card-text">games has the best free online games selection and offers the most fun experience to play alone or with friends. We offer instant play to all our games without downloads, login, popups or other distractions. Our games are playable on desktop, tablet and mobile so you can enjoy them at home or on the road. Every month over 50 million gamers from all over the world play their favorite games on games.</p>
		</div>
        </div>
	{% endblock %}
